<div class="container">
  <div class="imagemFundo">
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Bem vindo!</h1>
      </div> 
    </div>
    
    <div class="row mb-5">
      <div class="col-md-12">
        <p class="text-center">Está é uma Aplicaçao SPA COM 2 Componentes e nela contém:</p>
        <ul class="text-center" style="list-style-type: none;">
          <li>Pagina Inicial</li>
          <li>Página de Contato com Formulário</li>
        </ul>
      </div>
    </div>
    
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Para está Aplicação utilizamos as seguintes FrameWorks:</h1>
      </div> 
    </div>
    
    <div class="card-deck">
      <div class="card">
        <div class="d-flex justify-content-center">
          <img class="card-img-top" src="https://imgur.com/cSiiuJK.jpg" alt="Imagem de capa do card" style="width: 200px; height: 200px;">
        </div>
        
        <div class="card-body">
          <h5 class="card-title text-center">Bootstrap</h5>
          <p class="card-text text-center">O Bootstrap é um framework Front End. A partir dele, muitas etapas do desenvolvimentos web se tornam mais rápidas e dinâmicas, pois já trazem consigo diversos elementos prontos e estilizados.</p>
          <a href="https://getbootstrap.com/" class="btn btn-primary d-flex justify-content-center" target="_blank">Saiba Mais Sobre Bootstrap</a>
        </div>
      </div>
      
      <div class="card">
        <div class="d-flex justify-content-center">
          <img class="card-img-top w-200px h-200px" src="https://imgur.com/Rkeo3Y7.jpg" alt="Imagem de capa do card " style="width: 200px; height: 200px;">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Angular</h5>
          <p class="card-text text-center">Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google em conjunto com a Microsoft.</p>
          <a href="https://angular.io/" class="btn btn-primary d-flex justify-content-center" target="_blank">Saiba Mais Sobre Angular</a>
        </div>
      </div>
    </div>
    
  </div>
</div>



