<div class="container">
  
    <div class="row mt-5 mb-5">
      <div class="col-md-12">
        <h1 class="text-center">Formulário:</h1>
      </div> 
    </div>
    <div class="formulario">
    <form>
      <div class="form-row">
        <div class="col form-group">
          <label for="first">Primeiro Nome</label>
          <input type="text" class="form-control" id="first">
        </div>
        
        <div class="col form-group">
          <label for="last">Último Sobrenome</label>
          <input type="text" class="form-control" id="last">
        </div>
      </div>
      
      <hr>
      
      <div class="form-row">
        
        <div class="col-sm-3 form-group">
          <label for="zipcode">CEP:</label>
          <input type="text" class="form-control" id="zipcode">
          
        </div>
        
      </div>
      
      <div class="form-row">
        <div class="col-sm-9 form-group ">
          <label for="adress">Endereço</label>
          <input type="text" class="form-control" id="adress">
        </div>
        
        <div class="col-sm-3 form-group">
          <label for="number">Número</label>
          <input type="number" class="form-control" id="number">
        </div>
        
        <div class="form-row">
          
          <div class="col-sm-6 form-group">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento">
          </div>
          <div class="col-sm-6 form-group">
            <label for="complemento">Bairro</label>
            <input type="text" class="form-control" id="bairro">
          </div>
          
        </div>
        
      </div>
      
      <div class="form-row">
        
        <div class="col-sm-4 form-group">
          <label for="complemento">Cidade</label>
          <input type="text" class="form-control" id="cidade">
        </div>
        <div class="col-6 col-sm-4 form-group">
          <label for="complemento">Estado</label>
          <input type="text" class="form-control" id="estado">
        </div>
        
        <div class="col-6 col-sm-4 form-group">
          <label for="complemento">País</label>
          <input type="text" class="form-control" id="país">
        </div>
        
      </div>
      
      
      <div class="form-row">
        
        <button type="submit" class="btn btn-primary btn-block">Salvar</button>
        
      </div>
      
      
      
    </form>
  </div>
</div>